.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.header__social h1 {
  font-size: 2rem;
  text-align: left;
  margin: 0.67rem auto;
}
.header_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.header__social {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: flex-start;
  justify-content: flex-start;

  padding: 0 0 0 2rem;
}

.header__social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
}

.header__social span {
  display: block;
}

.header__social li {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;

  margin: 0.35rem 0;
  gap: 0.5rem;
  flex-wrap: nowrap;
}

.header__social li img {
  max-height: 1rem;
  max-width: 1rem;
  margin: 0.35rem 0;
}

.header__social p,
.header__social span,
.header__social a {
  margin: 0.35rem 0;
}

.header__social svg path {
  fill: #55569e;
}

.header :nth-child(3) {
  order: -1;
}

.threeDots__header {
  align-self: flex-end; /* Aligns the item to the end of the cross axis */
  margin-left: auto; /* Pushes the item to the end of the main axis */
  margin-top: -1rem;
}

.threeDots__header svg {
  width: 2rem;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 1rem 2rem;
    justify-content: space-between;
    margin: 2rem auto;
  }
  .header :nth-child(3) {
    order: 3;
  }

  .header__social h1 {
    font-size: 2rem;
    text-align: left;
  }
  .threeDots__header {
    margin-top: -2.5rem;
    margin-right: -1.5rem;
    align-self: start;
  }
}
@media screen and (min-width: 1024px) {
  .header__social {
    flex-direction: row;
  }
}
