/* Section Styles */
section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  transition: 0.4s;
  border: 1px solid #cfcfcf;
  border-radius: 1rem;
}

section:hover {
  background-color: #55569e;
  border-color: #55569e;
}
/*
.content.active div {
  display: block;
}
*/
section.active {
  background-color: #55569e;
  border-color: #55569e;
}

.content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s;
}

.content.active {
  max-height: 100rem;
}

/* List Styles */
section ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Button Styles */
button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  color: #fff;
  border: none;
  width: auto;
  height: auto;
  padding: 1rem 1.5rem;

  margin: -1rem -1.5rem;
}

button:hover {
  cursor: pointer;
}

button h2 {
  margin: 0;
  max-width: 70%;
  text-align: left;
  font-size: 1.17rem;
}

@media screen and (min-width: 460px) {
  button h2 {
    margin: 0;
    max-width: 100%;
    text-align: left;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 500px) {
  button h2 {
    font-size: 1.5rem;
  }
}
button::after {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url('../images/arrow.svg') no-repeat;
  background-size: contain;
  transition: 0.4s;
}

section.active button::after {
  transform: rotate(180deg);
}

/* Typography Styles */
button h2,
section h3,
section h4,
section ul li {
  font-family: 'open sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0.09rem;
}

/* Skills List Styles */

section.skills div.skills__content {
  display: flex;

  flex-direction: column;
  align-items: top;
  justify-content: space-between;

  gap: 1rem;

  text-align: left;
}

section.skills div.skills__content div {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: flex-start;
}

section.skills div.profissionalSkills ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  align-content: space-evenly;
  justify-items: center;
  gap: 1rem;

  padding: 0;

  list-style: none;
}

section.skills div.profissionalSkills ul li img {
  width: 3rem;
  height: 3rem;
}

section.skills div.personalSkills ul {
  display: grid;
  grid-template-columns: repeat(1, minmax(50%, 1fr));
  gap: 2rem;
}

section.skills div.personalSkills ul li {
  font-weight: 200;
}

div.personalSkills,
div.profissionalSkills {
  min-width: 40%;
}

@media screen and (min-width: 350px) {
  section.skills div.profissionalSkills ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 630px) {
  section.skills div.skills__content {
    flex-direction: row;
    padding-top: 0;
  }

  section.skills div.personalSkills ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
  }
}

/* Idioms List Styles */

.idioms ul {
  flex-direction: column;
  padding: 0;
}

.idioms ul li::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: url('../images/check.svg') no-repeat;
  background-size: contain;
}
.idioms ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 420px) {
  .idioms ul {
    flex-direction: row;
  }
}

/* Courses Styles*/

.courses ul {
  display: flex;
  flex-direction: column;

  padding: 0;
}

.courses li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
}

.courses h4 {
  font-weight: 800;
  font-size: 1.2rem;
  margin: 0;
}

.courses img {
  max-height: 28%;
  min-height: 28%;
}

@media screen and (min-width: 768px) {
  .courses ul {
    flex-direction: row;
  }
}

/* Portfolio Styles*/

.portfolio ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.portfolio li {
  list-style: none;
}

.portfolio h4 {
  font-weight: 800;
  margin: 0.4rem 0 0.2rem;
}

.portfolio h4::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: url('../images/github-logo.svg') no-repeat;
  background-size: contain;
}

.portfolio a {
  font-weight: 400;
  font-size: 0.8rem;
}

/* Exp Styles */

.exp ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media screen and (min-width: 726px) {
  .exp ul {
    flex-direction: row;
  }
}
.exp ul li {
  max-width: 54%;
}

.exp ul li p {
  font-weight: 400;
}

.exp .date::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background: url('../images/calender.svg') no-repeat;
  background-size: contain;
}
